.App {
  text-align: center;
  background-color: #E7E8D1;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: #E7E8D1;
  color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  text-align: right;
  z-index: 100; /* This property ensures the navbar stays on top of other content */
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 16px;
  margin: 0; /* Remove default margin for ul */
  padding: 0 50px 0 0; /* Remove default padding for ul */
  float: right;
}

.nav-links li {
  /* Apply some styling to list items for better visual appearance */
  padding: 8px;
  
}

.nav-links li a {
  color:#8AA893;
  text-decoration: none;
}

/* Adding some spacing to the main content so it's not hidden behind the navbar */
main {
  margin-top: 80px; /* Adjust this value based on your navbar height */
}

.homepage{
  padding-top: 350px;
  padding-bottom: 300px;
  justifyContent: 'center';
  alignItems: 'center';
  height: '100vh';
  font-family: Monaco ;
  color: #B85042;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Monaco;
}

.cardStyle {
  border: 2px solid #a7beae;
  padding: 15px;
  max-width: 800px;
  border-radius: 20px;
  position: relative;
  margin: 15px auto; /* Center the card horizontally with auto margin */
}


.card-group-horizontal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.footerLinkImg{
  width: 50px;
  height: 50px; 
  padding: 12px;
}

.projects{
  padding-top: 50px;
  padding-bottom: 100px;
  height: '100vh';
  justifyContent: 'center';
  alignItems: 'center';
  background-color: #D5D7AF;
  font-family: Monaco ;
}

.Projects-Header{
  color: #B85042;
}
.About-Header{
  color: #B85042;
}

.contact{
  padding-top: 60px;
  padding-bottom: 60px;
  justifyContent: 'center';
  alignItems: 'center';
  height: '100vh';
  
}