.App {
  text-align: center;
  background-color: #E7E8D1;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

main {
  margin-top: 80px;
  margin-left: 20px; 
  margin-right: 20px;
}

.homepage {
  padding-top: 350px;
  justify-content: center;
  align-items: center;
  font-family: Monaco;
  color: #B85042;
  padding-bottom: 350px;
  margin-left: 10%;
  margin-right: 10%;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Monaco;
  padding-top:90px;
}


.footerLinkImg{
  width: 50px;
  height: 50px; 
  padding: 12px;
}

.contact {
  padding-bottom: 40px;
  justify-content: center;
  align-items: center;
}
