.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
    align-items: center;   /* center horizontally */
  justify-content: center; /* optional: vertical centering */
  font-size: calc(10px + 2vmin);
}

main {
  margin-top: 80px;
  margin-left: auto;   /* 👈 auto centers instead of pushing */
  margin-right: auto; 
  max-width: 1000px;   /* optional: keeps text from spanning entire screen */
  width: 100%;
}

body {
  background-color:#ffffff;
}

.container {
  font-size: 1.2rem;
  line-height: 1.6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  max-width: 900px;
  text-align: center;
  color: #201c1c;
}

.background {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center; /* Initially center for smaller screens */
  align-items: center;
  padding: 2rem;
  font-size: 1rem;
  position: relative;
  z-index: 100;
  text-align: center;
}

.title {
  padding-top: 90px;
    color:#201c1c;
    font-weight: bold;
    font-size: 36px; /* Reduced size for better proportion */
    margin-bottom: 20px; /* Increased margin for spacing */
  }

  .projects-container {
  max-width: 900px;       /* perfectly centered */
  margin: 0 auto;         /* centers the whole page */
  padding: 20px;
  position: relative;
  text-align: center;     /* centers the title */
}
