.home-background{
    background: #ADBBDA;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px;
    z-index: 100;
    font-size: 20px;
    color: #3D52A0;
}